{% extends 'layout.html' %}

{% block content %}
<section>
    <h1>Travel agency</h1>
    <p>{{about.company_info}}</p>
    <img src="{{about.logo_url}}" width="100px">
    <br>
    <iframe width="620" height="315"
            src="{{about.video_url}}">
    </iframe>
    {% for j in histories %}
    <article>
        <h3>{{j.year}}</h3>
        <p>{{j.info}}</p>
    </article>
    {% endfor %}
    <article>
        <h1>Contact: {{about.email}}</h1>
        <p>{{about.certificate}}</p>
    </article>
</section>
{% endblock %}