{% extends 'layout.html' %}

{% block content %}
<section>
    {% for q in questions %}
    <article>
    <details>
        <summary>
        {{ q.text }}
        {{ q.date }}
        </summary>
        <div id="question{{q.text}}">
            <article>
        {% for a in answers %}
            {% if a.question == q %}
                <h3>{{ a.text }}</h3>
                <p>{{ a.date }}</p>
            {% endif %}
            {% endfor %}
                </article>
            </div>
        </details>
        </article>
     {% endfor %}
</section>
{% endblock %}