{% extends 'layout.html' %}

{% block content %}
<form method="POST" action="{% url 'login' %}">
                  {% csrf_token %}
                  <div class="form-group">
                      <label class="text-primary text-dark font-weight-bold">Enter phone</label>
                      <input type="tel" class="form-control" name="phone" placeholder="Enter phone"  pattern="[\+]\d{12}" minlength="13" maxlength="18" required>
                  </div>

                  <br>
                  <div class="form-group">
                      <label class="text-primary text-dark font-weight-bold">Enter Password</label>
                      <input type="password" class="form-control" name="password" placeholder="Enter Password">
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary btn-lg">Log in</button>
                    <a href="/register">SignUp</a>
</form>
{% endblock %}