{% extends 'layout.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
{% endblock %}
{% block content %}
<section>
<h1>Orders</h1>
    <hr/>
    {% for o in orders %}
        <article>
        <h1>{{ o.tour.name }}</h1>
        <p>Ticket amount:{{ o.amount }}</p>
        <p>Bought at:{{ o.createdAt }}</p>
        <p>Departure at: {{ o.startDate }}</p>
        <p>Final price: {{ o.price }}$</p>
            </article>
    {% endfor %}
    </section>
{% endblock %}