{% extends 'layout.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/promo.css' %}">
{% endblock %}
{% block content %}
<h1>Promo</h1>
    <hr/>

    {% for j in promos %}
        <h1>{{ j.title }}</h1>
        <p>{{ j.description }}</p>
        {% if j.end_date > now %}
            <h4>in use untill {{ j.end_date }}</h4>
        {% else %}
            <h4>archived {{ j.end_date }}</h4>
        {% endif %}
        
       
        <hr/>
    {% endfor %}
{% endblock %}